@charset "utf-8";
body{
    background: #bd0716;
}
body > a{
    background-image: url(.http://static.viicb.com/flyking/back_btn@2x.png);
    width: .6rem;
    height: .6rem;
    display: block;
    background-size: cover;
    margin: .3rem 0 0 .3rem;
}
.title{
    display: block;
    margin: .24rem auto .12rem;
}
h1{
    font-size: .2rem;
    color: #FFF;
    text-align: center;
    margin-bottom: .36rem;
}
article{
    border-radius: .1rem;
    background: #fff;
    width: 6.72rem;
    margin: 0 auto;
    box-sizing: border-box;
    padding: .3rem .2rem;
        font-size: .24rem;
    text-indent: 2em;
        line-height: .36rem;
}
body > p{
    text-align: center;
    color: #fff;
    font-size: .28rem;
    margin: .28rem 0;
}
article img{
    width: 80%;
    display: block;
    margin: .1rem auto;
}
.qr{
    width: 3.78rem;
    height: 3.63rem;
    margin: 0 auto;
    display: block;
    margin-bottom: .6rem;
}